<div class="container">
  <h1 class="text-center">Farm Details</h1>
  
  <h4>Address: <%=farmMarketData.marketdetails.Address%></h4>
  <h4>Schedule: <%=farmMarketData.marketdetails.Schedule.slice(0, -16)%></h4>
  <h4>Products: <%=farmMarketData.marketdetails.Products%></h4>
  <a target='_blank' href='<%=farmMarketData.marketdetails.GoogleLink%>'>Google Maps</a>
  <p class="text-center">
    <a href= '/list?name=<%=name%>&zipcode=<%=zipcode%>'>Back to Farm List</a>
  </p>
</div>


    <div class="faves">
      <h3><%= farmMarketData.id %></h2>
      <form method="POST" action="/favorite">
          <input hidden type="text" name="marketname" value="<%=marketname%>"> 
          <input hidden type="text" name="name" value="<%=name%>"> 
           <input class="btn btn-primary" type="submit" value='Add Market to Favorites!'>
        </form>
    </div>

